@page "/config"
@inject Services.ConfigurationService ConfigurationService
@inject ISnackbar Snackbar
@using MudBlazor

<PageTitle>Configuration</PageTitle>
<MudText Typo="Typo.h3" Class="mb-3">Current Configuration</MudText>
<MudCard>
    <MudCardContent Style="display: flex; flex-direction: column-reverse; height: 300px; overflow-y: scroll;">

        @* Transcription Engine *@
        <MudStack Row="true" AlignItems="AlignItems.End">
            @* Example of drop-down setting *@
            <MudSelect Label="Transcription Engine" @bind-Value="config.TranscriptionEngine">
                <MudSelectItem Value="@("google")">Google (Free)</MudSelectItem>
                <MudSelectItem Value="@("whisper")">OpenAI Whisper</MudSelectItem>
            </MudSelect>
            @* Config info *@
            <MudTooltip Text="Engine used for transcribing audio data.">
                <MudIcon Icon="@Icons.Material.Filled.Info" />
            </MudTooltip>
        </MudStack>

        <div style="height: 10px;"></div>

        @* OpenAI API Key *@
        <MudStack Row="true" AlignItems="AlignItems.End">
            <MudTextField Label="OpenAI API Key" @bind-Value="config.OpenaiApiKey"/>
            @* Config info *@
            <MudTooltip Text="API key retreived from OpenAI. Required to use the Whisper transcription engine.">
                <MudIcon Icon="@Icons.Material.Filled.Info" />
            </MudTooltip>
        </MudStack>

        <div style="height: 10px;"></div>

        @* Audio Output Device *@
        <MudStack Row="true" AlignItems="AlignItems.End">
            <MudSelect Label="Audio Output Device" @bind-Value="config.AudioDevice">
                @foreach (var device in audioDevices)
                {
                    <MudSelectItem T="int" Value="@device.Key">@device.Value</MudSelectItem>
                }
            </MudSelect>
            @* Config info *@
            <MudTooltip Text="Audio output device used for playing audio data.">
                <MudIcon Icon="@Icons.Material.Filled.Info" />
            </MudTooltip>
        </MudStack>

    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="ApplyChanges">Apply Changes</MudButton>
        <MudButton Variant="Variant.Text" Color="Color.Error" OnClick="LoadConfig">Reset</MudButton>
    </MudCardActions>
</MudCard>



@code {
    private Models.Config config = new();
    private Dictionary<int, string> audioDevices = new();

    private async Task LoadConfig()
    {
        config = await ConfigurationService.GetConfigAsync();
        StateHasChanged();
    }

    private async Task ApplyChanges()
    {
        try
        {
            await ConfigurationService.SetConfigAsync(config);
        }
        catch (Exception e)
        {
            Snackbar.Add(e.Message, Severity.Error);
        }
        finally
        {
            await LoadConfig();
        }
    }

    override protected async Task OnInitializedAsync()
    {
        audioDevices = await ConfigurationService.GetAudioDevicesAsync();
        await LoadConfig();
    }
}
