@page "/"
@layout StudentLayout
@inject NavigationManager NavigationManager
@inject Services.TranscriptionService TranscriptionService
@using MudBlazor

<PageTitle>Transcription</PageTitle>
<MudText Typo="Typo.h3" Class="mb-3">Live Transcript</MudText>
<MudCard>
    <MudCardContent Style="display: flex; flex-direction: column-reverse; height: 300px; overflow-y: scroll;">
        <MudText Typo="Typo.h4">@(string.Join(' ', transcriptions))</MudText>
    </MudCardContent>
    <MudCardActions>
        @if (isTranscribing)
        {
            <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Adjust" Color="Color.Success"
                OnClick="@(transcriptionCTS.Cancel)">Transcribing...</MudButton>
        }
        else
        {
            <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Adjust" Color="Color.Error"
                OnClick="@(async () => await StartTranscription())">Not transcribing</MudButton>
        }
    </MudCardActions>
</MudCard>

@* spacer *@
<div style="height: 50px;"></div>

<MudExpansionPanels>
    <MudExpansionPanel Text="QR Code">
        <MudImage Fluid="true" Src="@GetQrCodeUrl()" Alt="QR Code"
        Width="540" Height="540" Elevation="25" Class="square"/>
    </MudExpansionPanel>
</MudExpansionPanels>


@code {
    private List<string> transcriptions = new List<string> { "" };
    private CancellationTokenSource transcriptionCTS = new();
    private bool isTranscribing = false;

    private async Task StartTranscription()
    {
        transcriptionCTS.Cancel();
        isTranscribing = true;

        transcriptionCTS = new CancellationTokenSource();
        transcriptionCTS.Token.Register(() => {
            isTranscribing = false; StateHasChanged();
        });

        await TranscriptionService.ReceiveTextStreamAsync(
        OnTranscriptionReceived, transcriptionCTS.Cancel,
        transcriptionCTS.Token);
        StateHasChanged();
    }

    private void OnTranscriptionReceived(string text)
    {
        // check if a new phrase is starting
        if (string.IsNullOrWhiteSpace(text) && !string.IsNullOrWhiteSpace(transcriptions[^1]))
        {
            transcriptions.Add(""); // Cycle to a new line
            if (transcriptions.Count > 1000) transcriptions.RemoveAt(0);
            return; // Skip adding the empty line
        }
        // update last line with new text
        transcriptions[^1] = text;
        StateHasChanged();
    }

    private string GetQrCodeUrl()
    {
        string currentUrl = NavigationManager.Uri;
        string qrCodeBaseUrl = "https://api.qrserver.com/v1/create-qr-code/";
        return $"{qrCodeBaseUrl}?size=540x540&data={System.Web.HttpUtility.UrlEncode(currentUrl)}";
    }
}
